# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
    autoupdate_schedule: monthly

exclude: ^(cmake/ECM/|cmake/KDAB/|examples/qscxmldebugger/trafficlight.*|src/view/quick/qopengl2pexvertexarray.*|src/view/widgets/codeeditor.*|docs/api/doxygen-awesome.css)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-json
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.2
  hooks:
  - id: clang-format
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-lint
    exclude: (.py.cmake|.h.cmake|Doxyfile.cmake|cmake/Toolchain|cmake/FindGraphviz.cmake)
  - id: cmake-format
    exclude: (.py.cmake|.h.cmake|Doxyfile.cmake|cmake/Toolchain|cmake/FindGraphviz.cmake)
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
    entry: mdl
    language: ruby
    files: \.(md|mdown|markdown)$
- repo: https://github.com/fsfe/reuse-tool
  rev: v6.2.0
  hooks:
  - id: reuse
